body {
    background-color: #223843;
    margin: 20px;
}

div {
    /* margin: 20px; */
    /* border: solid black 2px; */
    text-align: center;
}

a:link, a:visited, a:active {
    color: #FFFFFF;
}

p {
    font-family: 'Times New Roman', Times, serif;
    color: #EFF1F3;
}

.bodyCopy {
    margin: 10px;
    color: #223843;
}

h1 {
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 48px;
    color: #EFF1F3;
    text-align: right;
}

.floatRight {
    float: right;
}

.floatLeft {
    float: left;
}

.mainContent {
    border: solid black 2px;
    background-color: #D8B4A0;
    color: #61210F;
    height: 400px;
    margin: 20px 0px 0px 0px;
    padding: 10px;
    /* border: solid white 2px; */
}

td {
    border: solid #223843 2px;
    font-family: Arial, Helvetica, sans-serif;
    padding: 10px;
    background-color: #EFF1F3;
}